body {
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #f4f5f9;
}

#button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 16px 16px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #20B2AA;
    border: solid 1px #20B2AA;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

button:hover {
    background-color: #20B2AA;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}

button:active {
    background-color: #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#boutonChance {
    border: none;
    background-color: #4285f4;
    color: white;
}

#boutonChance:hover {
    background-color: #357ae8;
}

#question-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 20px;
    box-shadow: 0 0 0 1px #E3E5EE inset;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    display: none;
}

#question {
    font-size: 16px;
    font-weight: 300;
    color: #333;
}